.arena {
    background-image: url(../images/Arena.jpg);
    height: 425px;
    border-style: double;
    border-color: red;
    margin-right: 0%;
 
}
body {
    background-image: url(../images/sandpaper.png);
}

.red{
    color: red;
}
.yellow {
    color: yellow;
}
.status {
    color: black;
}

.champ-health, .chall-health {
    color: green;
}

.champ-attack, .chall-attack {
    color: red;
}

.champ-counter, .chall-counter {
    color: blue;
}
.champ-name, .chall-name {
    font-weight: bold;
}